<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/icon/logo.svg" alt="">
            </a>
            <div class="header__right">
                <nav class="header__body">
                    <ul>
                        <li>
                            <a data-goto-header data-goto=".block-intro" href="#">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-biography" href="#">
                                <span>Biography</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-albums" href="#">
                                <span>Albums</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-events" href="#">
                                <span>Events</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-video" href="#">
                                <span>Video</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-reviews" href="#">
                                <span>Reviews</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-contacts" href="#">
                                <span>Contacts</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="lang-header">
                    <div class="lang-header__title">
                        En
                    </div>
                    <div class="lang-header__body">
                        <ul>
                            <li>
                                <a href="#">Ru</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header__socials">
                    <a href="#">
                        <img src="img/icon/youtube.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="img/icon/whatsapp.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="img/icon/telegram.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="img/icon/twiter.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="img/icon/facebook.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="img/icon/instagram.svg" alt="">
                    </a>
                </div>
                <button type="button" class="icon-menu"><span></span></button>
            </div>
        </div>
    </div>
</header>