body {
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  .lock & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 40;
      background-color: rgba(8, 30, 22, 0.25);
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.title2 {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 140%;
  color: #383838;
  margin: 0px 0px 40px 0px;
  @media (max-width: 1430px) {
    margin: 0px 0px 40px 10px;
  }
  @media (max-width: 992px) {
    font-size: 60px;
    margin: 0px 0px 20px 0px;
  }
  @media (max-width: 768px) {
    font-size: 45px;
    margin: 0px 0px 10px 0px;
  }
}

.block1 {
  margin: 0px 0px 100px 0px;
  @media (max-width: 768px) {
    margin: 0px 0px 50px 0px;
  }
}
