.footer {
    background: var(--black);
    padding: 15px 0px;
    @media (max-width: 768px) {
        padding: 10px 0px;
    }
    // .footer__copy

    &__copy {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #fff;
        opacity: 0.7;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}
