.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  &._header-scroll {
    background-color: #fff;
    box-shadow: 0 35px 60px 0 rgba(8, 30, 22, 0.15);
  }
  .menu-open & {
    background-color: #fff;
  }

  // .header__content

  &__content {
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    @media (max-width: 992px) {
      padding: 10px 0px;
      gap: 20px;
    }
  }

  // .header__logo

  &__logo {
    flex: 0 1 304px;
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: 480px) {
      flex: 0 0 202px;
    }
  }

  // .header__right

  &__right {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @media (max-width: 1430px) {
      gap: 20px;
    }
    @media (max-width: 1200px) {
      justify-content: flex-end;
      gap: 30px;
    }
    @media (max-width: 480px) {
      gap: 40px;
    }
    @media (max-width: 350px) {
      gap: 20px;
    }
  }

  // .header__body

  &__body {
    @media (max-width: 1200px) {
      position: absolute;
      z-index: 100;
      top: 100%;
      right: -100%;
      width: 280px;
      height: calc(100vh - 100%);
      background-color: #fff;
      padding: 15px;
      transition: right 0.3s;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .menu-open & {
        right: 0;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 50px;
      @media (max-width: 1430px) {
        gap: 20px;
      }
      @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: start;
      }
      @media (max-width: 480px) {
        align-items: center;
        gap: 40px;
      }
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          color: #262626;
          transition: opacity 0.3s;
          @media (max-width: 480px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          &._navigator-active {
            opacity: 0.7;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  // .header__socials

  &__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @media (max-width: 992px) {
      display: none;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      flex: 0 0 30px;
      border-radius: 50%;
      background: #65403a;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.lang-header {
  cursor: pointer;
  position: relative;
  &.active {
    .lang-header__body {
      opacity: 1;
      pointer-events: auto;
    }
  }
  // .lang-header__title

  &__title {
    font-weight: 400;
    font-size: 14px;
    color: #3b3b3b;
  }

  // .lang-header__body

  &__body {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    margin: 5px 0px 0px 0px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          color: #3b3b3b;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: 1200px) {
    position: relative;
    display: block;
    width: 22px;
    height: 15px;
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: background-color 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: #3b3b3b;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
      width: 12px;
    }
    span {
      top: calc(50% - 1px);
    }
  }
}
