:root {
  --container-width: 1430px;
  --container-padding: 20px;
  --black: #383838;

  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "BeauRivage", sans-serif;
  --font3: "AbhayaLibre", sans-serif;
  --font4: "Italiana", sans-serif;
}
